body{
    font-family: 'Poppins', sans-serif;
}

.bcnx{
    margin: 15px     0px     40px    5px;
}

button{
    padding: 10px   20px;
    border-radius: 8px;
    border: 0px;
    background-color: rgb(226, 226, 226);
    font-family: 'Poppins', sans-serif;
}

button:hover{
    background-color: rgb(206, 206, 206);
    transition-duration: 800ms;
}

h1{
    text-align: center;
    background-color: rgb(101, 199, 255);
    width: 270px;
    padding: 10px;
    margin:  40px   auto;
    border-radius: 10px;
}

img{
    border-radius: 10px;
}

.image{
    display: inline;
    margin: 0px     5px     0px     5px;
}

.container{
    width: 95%;
    margin: auto;
}